# Playground

## Import

In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
import pandas as pd
import numpy as np

In [3]:
import tvh_check_upcoming_recs as check

## Load DataFrame

In [4]:
df = check.get_df()
df

ATTRIBUTES,Title,Channel,Start,Stop
INDEX,,,,
0,"Love, Fashion, Repeat",City,2023-07-25 03:00:00,2023-07-25 05:00:00
1,Les looney tunes,TVA,2023-07-25 05:30:00,2023-07-25 06:00:00
2,Les looney tunes,TVA,2023-07-25 11:28:00,2023-07-25 11:58:00
3,Entre deux draps,Noovo,2023-07-25 19:30:00,2023-07-25 20:00:00
4,Les looney tunes,TVA,2023-07-26 05:30:00,2023-07-26 06:00:00
5,SkyMed,CBC,2023-07-26 21:00:00,2023-07-26 22:00:00
6,Les looney tunes,TVA,2023-07-27 05:30:00,2023-07-27 06:00:00
7,L'échappée belle,TVA,2023-07-27 09:29:00,2023-07-27 11:43:00
8,L'échappée,TVA,2023-07-27 13:00:00,2023-07-27 14:00:00
9,...Moi non plus!,Noovo,2023-07-27 19:30:00,2023-07-27 20:00:00
10,Mixed Baggage,City,2023-07-28 03:00:00,2023-07-28 05:00:00
11,Les looney tunes,TVA,2023-07-28 05:30:00,2023-07-28 06:00:00
12,L'échappée,TVA,2023-07-28 13:00:00,2023-07-28 14:00:00
13,Jumper,CTV,2023-07-29 13:00:00,2023-07-29 15:00:00
14,En tout cas,TVA,2023-07-29 13:30:00,2023-07-29 14:00:00
15,Agence de renseignement,TVA,2023-07-29 16:00:00,2023-07-29 18:00:00
16,"Un gars, une fille",Radio-Canada,2023-07-29 18:30:00,2023-07-29 19:00:00
17,R.E.D. 2,TVA,2023-07-29 20:45:00,2023-07-29 23:00:00
18,Pompiers en alerte,Noovo,2023-07-29 20:50:00,2023-07-29 23:30:00
19,Un homme à la mer,TVA,2023-07-30 10:00:00,2023-07-30 12:00:00
20,Les beaux malaises,TVA,2023-07-31 02:45:00,2023-07-31 03:15:00
21,Les looney tunes,TVA,2023-07-31 05:30:00,2023-07-31 06:00:00
22,L'échappée,TVA,2023-07-31 13:00:00,2023-07-31 14:00:00
23,Contre-offre,Noovo,2023-07-31 19:30:00,2023-07-31 20:00:00
24,Discussions avec mes parents,Radio-Canada,2023-07-31 19:30:00,2023-07-31 20:00:00
25,Les looney tunes,TVA,2023-08-01 05:30:00,2023-08-01 06:00:00
26,L'échappée,TVA,2023-08-01 13:00:00,2023-08-01 14:00:00
27,Entre deux draps,Noovo,2023-08-01 19:30:00,2023-08-01 20:00:00
28,Les looney tunes,TVA,2023-08-02 05:30:00,2023-08-02 06:00:00
29,L'échappée,TVA,2023-08-02 13:00:00,2023-08-02 14:00:00
30,SkyMed,CBC,2023-08-02 21:00:00,2023-08-02 22:00:00
31,Les looney tunes,TVA,2023-08-03 05:30:00,2023-08-03 06:00:00
32,L'échappée,TVA,2023-08-03 13:00:00,2023-08-03 14:00:00
33,...Moi non plus!,Noovo,2023-08-03 19:30:00,2023-08-03 20:00:00
34,Les looney tunes,TVA,2023-08-04 05:30:00,2023-08-04 06:00:00
35,L'échappée,TVA,2023-08-04 13:00:00,2023-08-04 14:00:00
36,Les looney tunes,TVA,2023-08-05 13:30:00,2023-08-05 14:00:00

## Analysis

In [5]:
#                   INDEX : [ 0, 1, 2, 3, 4, 5, 6]
df = pd.DataFrame({'Start': [ 0, 1, 2, 3, 4, 5, 6],
                   'Stop' : [ 1, 6, 3, 5, 5, 6, 7]})
df.sort_values(by='Start', inplace=True, ignore_index=True)
df.rename_axis('ATTRIBUTES', axis='columns', inplace=True)
df.rename_axis('INDEX', axis='index', inplace=True)
df

ATTRIBUTES  Start  Stop
INDEX
0               0     1
1               1     6
2               2     3
3               3     5
4               4     5
5               5     6
6               6     7

In [6]:
##### TEMP for development
#df = df.head(5)
#df = df.iloc[1:4]
#df.reset_index(drop=True, inplace=True)
#df

In [7]:
start_c = df['Start'].to_numpy()
stop_c = df['Stop'].to_numpy()
start_r = df['Start'].to_numpy()[:, np.newaxis]
stop_r = df['Stop'].to_numpy()[:, np.newaxis]

In [8]:
# df Analysis

# ref rec:          ************                   : comp overlap ref?
# comp rec:   -------                              : n
#              ----------                          : y
#              -----------------------             : y
#                   ------------                   : y
#                      ------                      : y
#                         ------------             : y
#                              ----------------    : n
#

dfa = pd.DataFrame(((start_c < stop_r) & (stop_c > start_r)) * 1)
dfa.rename_axis('INDEX', axis='columns', inplace=True)
dfa.rename_axis('INDEX', axis='index', inplace=True)
dfa

INDEX  0  1  2  3  4  5  6
INDEX
0      1  0  0  0  0  0  0
1      0  1  1  1  1  1  0
2      0  1  1  0  0  0  0
3      0  1  0  1  1  0  0
4      0  1  0  1  1  0  0
5      0  1  0  0  0  1  0
6      0  0  0  0  0  0  1

In [9]:
dfa.sum()

INDEX
0    1
1    5
2    2
3    3
4    3
5    2
6    1
dtype: int64

In [10]:
dfr = df.copy()
dfr['NbTunerRequired'] = dfa.sum()
dfr

ATTRIBUTES  Start  Stop  NbTunerRequired
INDEX
0               0     1                1
1               1     6                5
2               2     3                2
3               3     5                3
4               4     5                3
5               5     6                2
6               6     7                1

In [11]:
dfr[dfr['NbTunerRequired'] > 2]

ATTRIBUTES  Start  Stop  NbTunerRequired
INDEX
1               1     6                5
3               3     5                3
4               4     5                3

In [12]:
df

ATTRIBUTES  Start  Stop
INDEX
0               0     1
1               1     6
2               2     3
3               3     5
4               4     5
5               5     6
6               6     7

In [13]:
check.analyze_df(df)

ATTRIBUTES  Start  Stop  NbTunerRequired
INDEX
1               1     6                5
3               3     5                3
4               4     5                3

## All-in-one

In [14]:
check.analyze_df(check.get_df())

Empty DataFrame
Columns: [Title, Channel, Start, Stop, NbTunerRequired]
Index: []